.hero-swiper-pagination-bullets {
  position: absolute;
  bottom: 5%;
  display: flex;
  justify-content: center;
  left: 0;
  right: 0;
  gap: 10px;
}

.hero-swiper-bullet {
  width: 12px;
  height: 12px;
  border: 1px solid #ffffff;
  display: flex;
  border-radius: 50%;
  /* Inside auto layout */
}
.hero-swiper-bullet-active {
  background-color: #fff;
}
