.wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100vh;
  height: 100dvh;
  z-index: 40;
  background-color: #0F172A;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  overflow-x: hidden;
}
