@import 'variables';
@import 'mixins';

.title {
  font-weight: 500;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 1px;
  margin-bottom: 14px;
  color: $color-white;

  @include md {
    font-size: 50px;
  }

  @include lg {
    font-size: 60px;
    margin-bottom: 10px;
  }

  @include xl {
    font-size: 64px;
    margin-bottom: 10px;
  }
  
  @include xl2 {
    font-size: 84px;
    margin-bottom: 4px;
  }
}

.subtitle {
  font-weight: 300;
  line-height: 140%;
  letter-spacing: 1px;
  color: $color-white;
  font-size: 20px;
  margin-bottom: 40px;

  @include md {
    font-size: 20px;
    margin-bottom: 20px;
  }

  @include lg {
    font-size: 20px;
    margin-bottom: 24px;
  }

  @include xl {
    margin-bottom: 24px;
    font-size: 20px;
  }
  @include xl2{
    margin-bottom: 24px;
    font-size: 24px;
  }
}

.background {
  background-color: #030304;
  background-size: contain, contain;
  height: 550px;
  background-repeat: no-repeat;
  padding-bottom: 50px;

  @include md {
    height: 600px;
    background-size: cover;
    padding-bottom: 20;
  }
  @include lg {
    background-position: center;
    background-position-y: 18%;
    background-size: cover;
    height: calc(100vh - 81px);
  }
}
