@import 'variables';
@import 'mixins';

.title {
  font-weight: 350;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: 1px;
  margin-bottom: 14px;
  color: $color-white;

  @include md {
    margin-top: 300px;
    font-size: 44px;
  }

  @include lg {
    margin-top: 200px;
    font-size: 70px;
  }
}

.subtitle {
  font-weight: 400;
  line-height: 160%;
  letter-spacing: 1px;
  color: $color-white;
  margin-bottom: 30px;
}

.background {
  background-color: #030304;
  background-size: 600px, contain, contain;
  background-position-x: center;
  height: 550px;
  background-repeat: no-repeat;
  padding-bottom: 60px;

  @include md {
    height: 600px;
    background-size: cover;
  }
  @include lg {
    background-position: center;
    background-position-y: 22%;
    background-size: cover;
    height: calc(100vh - 81px);
  }
}
