@import 'mixins';
.title {
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 20px;

  @include lg {
    font-size: 42px;
    margin-bottom: 40px;
  }
}
.left {
  text-align: left;
}
.white {
  color: white;
}
